tmp/
tmp_make/
*_image/
binaries/*.deb
READMEBS.md
READMEZala.sh
.python-version
videos
android/
scm-source.json
TODO.md
docker_push.log
bats/
compose_down.log
docker-pull.log
hub_1.log
chrome*.log
firefox*.log
stop_video_chrome*.log
stop_video_firefox*.log
VNC-*-Linux-x64-DEB.tar.gz
VNC-Viewer-*-Linux-x64.deb
VNC-*-MacOSX-x86_64.pkg
vnc_linux.md5
vnc_osx.md5
tmposx/
